

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Share style */
.primarycolor{
    color: tomato;

}

.secod-bg{
    background-color: #fff8f3;
}
.dark2 {
    color: #474747;
}

.button-primary{
    background-color: tomato;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 32px;
    border: 0;
}
.section-title{
    font-size: 35px;
    font-weight: 500;
    color: black;
    
}

.section-des{
    font-size: 18px;
    
}



.main-section{
    margin-top: 120px;
    margin-bottom: 120px;

}





/* Nav style */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;

    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px;
}

nav ul{
    display: flex;
    align-items: center;
}


.nav-title{
    font-weight: 800;
    font-size: 48px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;


}
nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner-style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 120px 0 120px;
}

.banner-content{
    max-width: 580px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 600;
}

.banner-des{
    font-size: 18px;
}


/* Main */
.main{
    max-width: 1140px;
    margin: 0 auto;


}

/* About me */

.about-itms{
    display: flex;
    justify-content: space-around;
}

.itm-des{
    font-weight: 700;
}


.about{
    border-radius: 10px;
    padding: 130px 150px;
    

}


/* what i do */
.skills{
    margin: 96px 0 96px 0;
}

.section-title{
    text-align: center;
}
.section-des{
    text-align: center;
   margin-bottom: 68px;

}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);

}


/* resume section */
.resu-container{
    display: flex;
    gap: 24px;
}

.resume-container{
    display: flex;
    gap: 16px;
}

.resume-column{
    
}

.resume-download{
    margin-top: 50px;
}


.CTA{
    text-align: center;
    
    margin-top: 40px;
}

/* Footer */
footer{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
   
}


footer{
    display: flex;
    gap: 100px;
    padding: 80px;
}

.footer-clumn{
    width: 50%;
}

.section-title{
    text-align: left;
}


.socila-link{
    margin-right: 24px;
}
.footer-column{
    width: 50%;
}

.Contact input[type="text"], textarea{
    display: block;
    margin-bottom: 20px;
    padding: 18px 24px;
    background-color: white;
    border: 0;
    width: 100%;
    

}


.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .skills-container, .resu-container, footer{
        flex-direction: column;
    }
    
}



